body{
    background-color: gray;
    margin:0px;
}
.top-wrapper{
    background-color: green;
    width: 70%;
    height: 125px;
    margin-left: 200px;
}
.middle-wrapper{
    background-color: khaki;
    width: 70%;
    height: 400px;
    margin-left: 200px;
}
.bottom-wrapper{
    background-color: orange;
    width: 70%;
    height: 125px;
    margin-left: 200px;
}
